body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    padding:0;
    margin:0;
}
#container{
    border:1px solid black;
    width:350px;
    margin:auto;
    padding: 0 100px 50px 100px;
    margin-top:20px;
    margin-bottom: 30px;
}
form{
    margin:auto;
}
input,select{
    width: 100%; 
    height: 7%; 
    border: 1px solid #999999; 
    padding: 5px;
    margin-bottom:10px;
    
}
/*
h1,form{
    text-align: center;
}*/
.sub input{
    border:1px solid blue;
    height:8%;
    margin-top: 30px;
    font-size:20px;
    font-weight: bolder;
}
h4{
    padding:0;
    margin:0;
    margin-bottom:0;
}